.parent {
  background-color: bisque;
  height: 200vh;
  position: relative;
  
}

.child-one {
  background-color: red;
  top: 0;
  right:0;

}

.child-two {
  background-color: gold
}

.child-three {
  background-color: aquamarine;
}
