.parent {
  background-color: bisque;
    height: 200vh;
  
}

.child-one {
  background-color: red;
  position: fixed;
  top: 0;
  right:0;
}

.child-two {
  background-color: gold
}

.child-three {
  background-color: aquamarine;
}
