* {
    font-family: 'Raleway', sans-serif;
}

.header {
  width:50%;
  display: flex;
  justify-content: space-between;
  margin:auto;
  justify-content: center;
}
.header_navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1rem;
}
.header_navbar a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}
.header_navbar a:hover {
  color: #bbb;
}
.header_navbar a:active {
  color: #000;
}

.header_navbar a:focus {
  color: #000
}

main {
    font-family: 'Raleway', sans-serif;
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 2rem;
    text-align: center;
    align-self: space-between;
    align-items: baseline;
}
.title_topic {
    border-left: 1px solid grey;

}
.title_number {
    color: #bbb;
    font-size: 5rem;
    font-weight: bold;
}
.title_content {
    font-size: 40px;
    font-weight: bold;
    transform: rotate(-90deg);
    color: grey;
    border-top: 1px solid grey;
}
.title_content:hover {
    color: #000;
}

.profile {
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
}

.profile-img {
    max-width: 100%;
    filter: brightness(300%);

}

.blog {
    margin: 5rem;
}
.blog_title {
  position: relative;
  padding-bottom: 10px;
}

.blog_article_p1::first-letter {
  initial-letter: 4;
}
.blog_article_p2 {
  padding-bottom:  20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, #ccc 50%, transparent 50%) 100% 1;
}
footer{
    text-align: center;
}







/* CSS
/https://getcssscan.com/css-buttons-examples
 */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
